@model IEnumerable<DayanShop.Domains.Entities.ChildCategory>
@{
    ViewData["Title"] = "لیست زیردسته ها";
}
<partial name="_Notification" />
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center justify-content-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/Admin/Home">داشبورد</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">دسته بندی فرزند</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body d-flex justify-content-between flex-wrap">
                    <div class="card-title">
                        <form action="/Admin/Category/ChildList" class="input-group mb-3">
                            <input name="searchKey" type="text" class="form-control" placeholder="دنبال چی می گردی؟" aria-label="Search For Parent Category" aria-describedby="basic-addon2">
                            <input type="hidden" name="id" value="@ViewBag.ParentCat" />
                            <button type="submit" class="input-group-text bg-primary text-white" id="basic-addon2"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="table-responsive p-1">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>عنوان دسته</th>
                                <th>
                                    <i class=" mdi mdi-settings"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (!Model.Any())
                            {
                                <tr>
                                    <td colspan="4">
                                        <p class="text-danger text-center">دسته بندی برای نمایش وجود ندارد. ابتدا یک دسته ثبت کنید!</p>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var childCat in Model)
                                {
                                    <tr>
                                        <td>کد :@childCat.Id</td>
                                        <td>

                                            <p data-toggle="tooltip" data-placement="top" title data-original-title="@childCat.ChildTitleSlug">
                                                @childCat.ChildTitle &nbsp;<span class="badge bg-warning">دارای <i class="badge bg-primary text-white">@childCat.CategoryAttributes.Count()</i> ویژگی</span>
                                            </p>
                                        </td>
                                        <td>
                                            <div class="btn-group-sm">
                                                <button onclick="ShowModalEditChildCategory('@childCat.Id','@childCat.ChildTitle', '@childCat.ChildTitleSlug','@childCat.DisplayOrder','@childCat.ParentCategoryId')" class="btn btn-primary"><i class="fa fa-edit"></i> ویرایش</button>
                                                <button onclick="DeleteChild('@childCat.Id','@childCat.ChildTitle')" class="btn btn-danger"><i class="fa fa-trash"></i> حذف</button>
                                                <button onclick="ShowModalAddAttr('@childCat.Id','@childCat.ParentCategoryId','@childCat.ChildTitle')" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;افزودن ویژگی</button>
                                                <a href="/Admin/CategoryAttribute/Index/@childCat.Id" class="btn btn-info text-white"><i class="fa fa-info"></i>&nbsp;مشاهده ویژگی ها</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <link rel="stylesheet" href="~/admin/dist/Sweetalert2/sweetalert2.min.css" />
    <script src="~/admin/dist/Sweetalert2/sweetalert2.min.js"></script>

    <script>
        function DeleteChild(childId, title) {
            swal.fire({
                title: 'حذف دسته بندی ' + ' ( ' + title + ' )',
                text: "کاربر گرامی  مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var postData = {
                        'id': childId
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "/Admin/Category/RemoveChildCategory/",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            } else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            });
        }
        function ShowModalEditChildCategory(id, title, slug, diplayOrder, parentId) {
            $('#edit_child_id').val(id);
            $('#parent_id').val(parentId);
            $('#edit_child_title').val(title);
            $('#edit_child_slug').val(slug);
            $('#edit_child_displayOrder').val(diplayOrder);
            $('#EditChild').modal('show');
        }
        function ShowModalAddAttr(catId, pId, childTitle) {
            
            $('#child_id').val(catId);
            $('#P_Id').val(y);
            $('#cat_title').html(childTitle);
            $('#AddAttr').modal('show');
        }

    </script>
}
    @section Modals
    {
    <div class="modal" id="EditChild" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h5 class="modal-title text-white">ویرایش دسته بندی </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Admin/Category/EditChildCategory" enctype=multipart/form-data>
                        <input type="hidden" name="Id" id="edit_child_id" />
                        <input type="hidden" name="ParentCategoryId" id="parent_id" />
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">عنوان زیردسته</span>
                            <input id="edit_child_title" name="ChildTitle" type="text" class="form-control" aria-label="Parent Category Title" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">Slug</span>
                            <input id="edit_child_slug" name="ChildTitleSlug" type="text" class="form-control" aria-label="Parent Category Slug" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">ترتیب نمایش </span>
                            <select id="edit_child_displayOrder" name="DisplayOrder" class="form-select form-control" aria-label="Default select example">
                                @for (int i = 1; i <= 100; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>

                        <div class="row justify-content-around">
                            <button type="submit" class="btn btn-primary "><i class="fa fa-edit"></i>&nbsp;بروزرسانی </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-arrow-left"></i>&nbsp;برگشت</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="AddAttr" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h5 class="modal-title text-white">
                        افزودن ویژگی برای دسته <span id="cat_title" class="badge bg-primary"></span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Admin/CategoryAttribute/CreateCategoryAttr" enctype=multipart/form-data>
                        <input type="hidden" name="ChildCategoryId" id="child_id" />
                        <input type="hidden" name="ParentCatId" id="P_Id" />
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">عنوان ویژگی</span>
                            <input name="AttributeTitle" type="text" class="form-control" aria-label="Parent Category Title" aria-describedby="basic-addon1">
                        </div>
                        <div class="row justify-content-around">
                            <button type="submit" class="btn btn-success "><i class="fa fa-check"></i>&nbsp;ثبت </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-arrow-left"></i>&nbsp;برگشت</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    }
