@model IEnumerable<DayanShop.Domains.Entities.ParentCategory>
@{
    ViewData["Title"] = "لیست دسته بندی های فروشگاه";
}
<partial name="_Notification" />
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center justify-content-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/Admin/Home">داشبورد</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">دسته بندی</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body d-flex justify-content-between flex-wrap">
                    <div class="card-title">
                        <form action="/Admin/Category/Index" class="input-group mb-3">
                            <input name="searchKey" type="text" class="form-control" placeholder="دنبال چی می گردی؟" aria-label="Search For Parent Category" aria-describedby="basic-addon2">
                            <button type="submit" class="input-group-text bg-primary text-white" id="basic-addon2"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="card-subtitle">
                        <button onclick="ShowModalAddParentCategory()" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;ثبت دسته بندی پدر</button>
                    </div>
                </div>
                <div class="table-responsive p-1">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>عنوان دسته</th>
                                <th>تعداد زیر دسته</th>
                                <th>
                                    <i class=" mdi mdi-settings"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (!Model.Any())
                            {
                                <tr>
                                    <td colspan="4">
                                        <p class="text-danger text-center">دسته بندی برای نمایش وجود ندارد. ابتدا یک دسته ثبت کنید!</p>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var parentCat in Model)
                                {
                                    <tr>
                                        <td>کد :@parentCat.Id</td>
                                        <td>

                                            <p title="@parentCat.ParentTitleSlug">@parentCat.ParentTitle</p>
                                        </td>
                                        <td>@parentCat.ChildCategories.Count()</td>
                                        <td>
                                            <div class="btn-group-sm">
                                                <button onclick="ShowModalEditParentCategory('@parentCat.Id','@parentCat.ParentTitle','@parentCat.ParentTitleSlug','@parentCat.DisplayOrder')" type="button" class="btn btn-primary"><i class="fa fa-edit"></i> ویرایش</button>
                                                <button onclick="DeleteParent('@parentCat.Id','@parentCat.ParentTitle')" class="btn btn-danger"><i class="fa fa-trash"></i> حذف</button>
                                                <button onclick="ShowModalAddChildCategory('@parentCat.Id','@parentCat.ParentTitle')" type="button" class="btn btn-success"><i class="fa fa-plus"></i> افزودن زیردسته</button>
                                                @if (parentCat.ChildCategories.Count > 0)
                                                {
                                                    <a href="/Admin/Category/ChildList/@parentCat.Id" class="btn btn-primary"><i class="fa fa-eye"></i> مشاهده فرزندان</a>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <link rel="stylesheet" href="~/admin/dist/Sweetalert2/sweetalert2.min.css" />
    <script src="~/admin/dist/Sweetalert2/sweetalert2.min.js"></script>

    <script>
        function DeleteParent(parentId, title) {
            swal.fire({
                title: 'حذف دسته بندی ' + ' ( ' + title + ' )',
                text: "کاربر گرامی  مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var postData = {
                        'id': parentId
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "/Admin/Category/RemoveParentCategory/",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            } else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            });
        }
        function ShowModalAddParentCategory() {
            $('#AddParent').modal('show');
        }
        function ShowModalEditParentCategory(id, title, slug, diplayOrder) {
            $('#edit_parent_id').val(id);
            $('#edit_parent_title').val(title);
            $('#edit_parent_slug').val(slug);
            $('#edit_parent_displayOrder').val(diplayOrder);
            $('#EditParent').modal('show');
        }
        function ShowModalAddChildCategory(parentId,title) {
        
            $('#parent_id').val(parentId);
            $('#parent_title').html(title);
            $('#AddChild').modal('show');
        }


    </script>
}
    @section Modals
    {
    <div class="modal" id="AddParent" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white">ثبت دسته بندی والد</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Admin/Category/CreateParentCategory" enctype=multipart/form-data>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">عنوان دسته پدر</span>
                            <input name="ParentTitle" type="text" class="form-control" aria-label="Parent Category Title" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">Slug</span>
                            <input name="ParentTitleSlug" type="text" class="form-control" aria-label="Parent Category Slug" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">ترتیب نمایش </span>
                            <select name="DisplayOrder" class="form-select form-control" aria-label="Default select example">
                                @for (int i = 1; i <= 100; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>

                        <div class="row justify-content-around">
                            <button type="submit" class="btn btn-success "><i class="fa fa-check"></i>&nbsp;ثبت </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-arrow-left"></i>&nbsp;برگشت</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
    <div class="modal" id="EditParent" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h5 class="modal-title text-white">ویرایش دسته بندی والد</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Admin/Category/EditParentCategory" enctype=multipart/form-data>
                        <input type="hidden" name="Id" id="edit_parent_id" />
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">عنوان دسته پدر</span>
                            <input id="edit_parent_title" name="ParentTitle" type="text" class="form-control" aria-label="Parent Category Title" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">Slug</span>
                            <input id="edit_parent_slug" name="ParentTitleSlug" type="text" class="form-control" aria-label="Parent Category Slug" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">ترتیب نمایش </span>
                            <select id="edit_parent_displayOrder" name="DisplayOrder" class="form-select form-control" aria-label="Default select example">
                                @for (int i = 1; i <= 100; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>

                        <div class="row justify-content-around">
                            <button type="submit" class="btn btn-primary "><i class="fa fa-edit"></i>&nbsp;بروزرسانی </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-arrow-left"></i>&nbsp;برگشت</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="AddChild" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white">ثبت زیر دسته برای <span id="parent_title"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Admin/Category/CreateChildCategory" enctype=multipart/form-data>
                        <input type="hidden" name="ParentCategoryId" id="parent_id" />
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">عنوان زیر دسته</span>
                            <input name="ChildTitle" type="text" class="form-control" aria-label="Parent Category Title" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">Slug</span>
                            <input name="ChildTitleSlug" type="text" class="form-control" aria-label="Parent Category Slug" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">ترتیب نمایش </span>
                            <select name="DisplayOrder" class="form-select form-control" aria-label="Default select example">
                                @for (int i = 1; i <= 100; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>

                        <div class="row justify-content-around">
                            <button type="submit" class="btn btn-success "><i class="fa fa-check"></i>&nbsp;ثبت </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-arrow-left"></i>&nbsp;برگشت</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
    }
