@addTagHelper *, LazZiya.TagHelpers
@using DayanShop.Application.StoreServices.Queries.Product
@model ReslutGetProductDto
@{
    ViewData["Title"] = "لیست محصولات فروشگاه";
}
<partial name="_Notification" />
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center justify-content-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/Admin/Home">داشبورد</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">لیست محصولات</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body d-flex justify-content-between flex-wrap">
                    <div class="card-title">
                        <form action="/Admin/Product/Index" class="input-group mb-3">
                            <input name="searchKey" type="text" class="form-control" placeholder="دنبال چی می گردی؟" aria-label="Search For Parent Category" aria-describedby="basic-addon2">
                            <button type="submit" class="input-group-text bg-primary text-white" id="basic-addon2"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="card-subtitle">
                        <a href="/Admin/Product/CreateProduct" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;ثبت محصول جدید</a>
                    </div>
                    <div class="row w-100 justify-content-center">
                        <p class="text-center text-primary">
                            برای ویرایش ، حذف، افزودن عکس و افزودن بررسی به قسمت جزئیات محصول مراجعه کنید
                        </p>
                    </div>
                </div>

                <div class="table-responsive p-1">
                    <table class="table table-bordered table-hover table-striped" style="overflow: scroll">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>نام محصول</th>
                                <th>امتیاز</th>
                                <th>تعداد بازدید</th>
                                <th>قیمت</th>
                                <th>تخفیفات</th>
                                <th>
                                    <i class=" mdi mdi-settings"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (!Model.Products.Any())
                            {
                                <tr>
                                    <td colspan="7">
                                        <p class="text-danger text-center">محصولی برای نمایش یافت نشد. ابتدا یک دسته ثبت کنید!</p>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                @foreach (var p in Model.Products)
                                {
                                    <tr>
                                        <td>@p.Id</td>
                                        <td>
                                            <p data-toggle="tooltip" data-placement="top" title data-original-title="@p.Slug">@p.Name</p>
                                        </td>
                                        @if (p.Rate > 0)
                                        {
                                            <td>
                                                @for (int i = 0; i < p.Rate; i++)
                                                {
                                                    <i class="fa fa-star text-warning"></i>
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                امتیاز ثبت نشده!
                                            </td>
                                        }
                                        <td>@p.ShowCount عدد</td>
                                        <td>@p.Price.ToString("n0") تومان</td>
                                        <td>
                                            @if (p.OldPrice > 0 || p.ShowDiscountLable)
                                            {

                                                <ul class="list-style-none">
                                                    <li><small>درصد تخفیف :</small> @p.Percentage &nbsp;<i class="fas fa-percent"></i></li>
                                                    <li><small>قیمت قبل :</small>@(p.OldPrice > 0 ? p.OldPrice : "مشخص نشده")</li>
                                                </ul>

                                            }

                                        <td>
                                            <div class="btn-group-sm">
                                                <button onclick="DeleteProduct('@p.Id', '@p.Name')" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title data-original-title="حذف محصول"><i class="fa fa-trash"></i></button>
                                                <a href="/Admin/Product/ProductDetails/@p.Id" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title data-original-title="جزئیات محصول"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <div class="row justify-content-center">

                        <nav aria-label="Page navigation example">
                            <paging total-records="@Model.RowCount"
                                    page-no="@Model.CurrentPage"
                                    page-size="@Model.PageSize"
                                    show-prev-next="true"
                                    show-total-pages="false"
                                    show-total-records="false"
                                    show-page-size-nav="true"
                                    show-first-numbered-page="true"
                                    show-last-numbered-page="true"
                                    query-string-key-page-no="Page"
                                    query-string-key-page-size="PageSize"
                                    gap-size="2">
                            </paging>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <link rel="stylesheet" href="~/admin/dist/Sweetalert2/sweetalert2.min.css" />
    <script src="~/admin/dist/Sweetalert2/sweetalert2.min.js"></script>
    <script>
        function DeleteProduct(productId, productName) {
            swal.fire({
                title: 'حذف محصول  ' + ' ( ' + productName + ' )',
                text: "کاربر گرامی  مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var postData = {
                        'id': productId
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "/Admin/Product/RemoveProduct/",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            } else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            });
        }
    </script>
}
