@using DayanShop.Domains.Entities
@model Product
@{
    ViewData["Title"] = $"جزئیات محصول {Model.Name}";
}
<partial name="_Notification" />
<style>
    .feature li {
        background: #F3E9DD;
        border-radius: 0 5px 5px 0;
        padding: .5rem;
        border-left: 1px solid #000;
        width: 50%;
        margin-bottom: .5rem;
    }

        .feature li:nth-child(even) {
            background: #DAB88B;
        }
</style>
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">جزئیات محصول</h4>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center justify-content-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/Admin">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">جزئیات محصول</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- Column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">@Model.Name</h3>
                    <h6 class="card-subtitle">@Model.Slug</h6>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="white-box text-center">

                                @if (!Model.ProductImages.Any())
                                {
                                    <img src="../../assets/images/gallery/chair.jpg" class="img-responsive">
                                }
                                else
                                {
                                    <!--===================================-->
                                    <div class="owl-carousel owl-theme">
                                        @foreach (var pic in Model.ProductImages)
                                        {
                                            <div class="item">
                                                <div class="row flex-column justify-content-center">
                                                    <img src="~/@pic.ImagePath" class="img-responsive" alt="@pic.AltAttr" data-toggle="tooltip" data-placement="top" title data-original-title="@pic.TitleAttr">
                                                    <button onclick="DeleteImage('@pic.Id')" class="btn btn-danger "><i class="fa fa-trash"></i></button>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                    <!--====================================-->
                                }

                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-6">
                            <h4 class="box-title m-t-40">توضیحات</h4>
                            <p>
                                @Html.Raw(Model.Description)
                            </p>
                            <h3 class="m-t-40">
                                @Model.Price.ToString("#,##") تومان
                                <small class="text-success">(@(Model.Percentage > 0 ? Model.Percentage + "%Off" : "فاقد تخفیف"))</small>
                            </h3>
                            <button class="btn btn-dark btn-rounded m-r-5" data-toggle="tooltip" title="" data-original-title="Add to cart"><i class="ti-shopping-cart"></i> </button>
                            <button class="btn btn-primary btn-rounded"> Buy Now </button>
                            <h1 class="box-title m-t-40 h5">عملیات مجاز</h1>
                            <div class="btn-group-sm">
                                <button onclick="ShowModalAddImage('@Model.Id','@Model.Name')" class="btn btn-outline-primary btn-sm"><i class="fa fa-image"></i>&nbsp;افزودن عکس</button>
                                <button onclick="ShowModalAddFeature('@Model.Id','@Model.Name')" class="btn btn-outline-success btn-sm"><i class="fas fa-list-ol"></i>&nbsp;افزودن ویژگی</button>
                                <button class="btn btn-outline-info btn-sm"><i class="fa fa-list-ul"></i>&nbsp;افزودن بررسی</button>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <!--=====================Tab====================-->
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">مشخصات و بررسی محصول</h4>
                                    <h6 class="card-subtitle">Use default tab with class <code>nav-tabs &amp; tabcontent-border </code></h6>
                                    <div class="row">
                                        <div class="col-lg-4 col-xl-3">
                                            <!-- Nav tabs -->
                                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                <a class="nav-link active show" id="v-pills-home-tab" data-toggle="pill" href="#p_feature" role="tab" aria-controls="v-pills-home" aria-selected="true">ویژگی ها</a>
                                                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#p_review" role="tab" aria-controls="v-pills-profile" aria-selected="false">بررسی ها</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-xl-9">
                                            <div class="tab-content" id="v-pills-tabContent">
                                                <div class="tab-pane fade active show" id="p_feature" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                                    <ul class="list-style-none d-flex feature flex-wrap">
                                                        @if (!Model.ProductAttributes.Any())
                                                        {
                                                            <li class="text-primary text-center">ویژگی برای نمایش یافت نشد</li>
                                                        }
                                                        else
                                                        {
                                                            foreach (var feature in Model.ProductAttributes)
                                                            {
                                                                <li>@feature.CategoryAttribute.AttributeTitle</li>
                                                                <li>@feature.AttrVal</li>
                                                            }
                                                        }


                                                    </ul>
                                                </div>
                                                <div class="tab-pane fade" id="p_review" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                                    .
                                                    <p> Probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. </p>
                                                    <p> Probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--=====================Tab====================-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
</div>
@section Scripts
    {
    <link rel="stylesheet" href="~/admin/dist/Sweetalert2/sweetalert2.min.css" />
    <script src="~/admin/dist/Sweetalert2/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="~/lib/owlcarousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/lib/owlcarousel/dist/assets/owl.theme.default.min.css">
    <script src="~/lib/owlcarousel/dist/owl.carousel.min.js"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            rtl: true,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        });
        function DeleteImage(picId) {
            swal.fire({
                title: 'حذف تصویر',
                text: "کاربر گرامی  مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var postData = {
                        'id': picId
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "/Admin/Product/RemoveProductPicture/",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            } else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            });
        }
        function ShowModalAddImage(productId, productTitle) {

            $('#product_id').val(productId);
            $('#product_title').html(productTitle);
            $('#AddImage').modal('show');
        }
        function ShowModalAddFeature(productId, productTitle) {
            $('#productId_Feature').val(productId);
            $('#product_title').html(productTitle);
            $('#AddFeature').modal('show');
        }
    </script>
    }
    @section Modals
    {
    <div class="modal" id="AddImage" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h5 class="modal-title text-white">
                        افزودن تصویر <span id="product_title" class="badge bg-primary"></span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Admin/Product/CreateImage" enctype=multipart/form-data>
                        <input type="hidden" name="ProductId" id="product_id" />
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">تصویر</span>
                            <input name="file" type="file" class="form-control" accept="image/*">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">alt Attribute</span>
                            <input name="AltAttr" type="text" class="form-control" placeholder="برای سئو سایت موثر می باشد">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">title Attribute</span>
                            <input name="TitleAttr" type="text" class="form-control" placeholder="برای سئو سایت موثر می باشد">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">ارتفاع</span>
                            <input name="Height" type="number" class="form-control" placeholder="ارتفاع تصویر">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">عرض</span>
                            <input name="width" type="number" class="form-control" placeholder="عرض تصویر">
                        </div>
                        <div class="row justify-content-around">
                            <button type="submit" class="btn btn-success "><i class="fa fa-check"></i>&nbsp;ثبت </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-arrow-left"></i>&nbsp;برگشت</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="AddFeature" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h5 class="modal-title text-white">
                        افزودن ویژگی <span id="product_title" class="badge bg-primary"></span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Admin/Product/AddProductAttribute" enctype=multipart/form-data>
                        <input type="hidden" name="ProductId" id="productId_Feature" />
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">عنوان ویژگی</span>
                            <select name="CategoryAttributeId" asp-items="@ViewBag.attr" class="form-control"></select>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">مقدار ویژگی</span>
                            <input name="AttrVal" type="text" class="form-control" placeholder="16 GB">
                        </div>

                        <div class="row justify-content-around">
                            <button type="submit" class="btn btn-success "><i class="fa fa-check"></i>&nbsp;ثبت </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-arrow-left"></i>&nbsp;برگشت</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    }

