@model IEnumerable<DayanShop.Domains.Entities.CategoryAttribute>
@{
    ViewData["Title"] = "لیست ویژگی ها";
}
<partial name="_Notification" />
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">@ViewData["Title"]</h4>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center justify-content-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/Admin/Home">داشبورد</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">ویژگی ها</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body d-flex justify-content-between flex-wrap">
                    <div class="card-title">
                        <form action="/Admin/CategoryAttribute/Index" class="input-group mb-3">
                            <input name="searchKey" type="text" class="form-control" placeholder="دنبال چی می گردی؟" aria-label="Search For Parent Category" aria-describedby="basic-addon2">
                            <input type="hidden" name="id" value="@ViewBag.CategoryId" />
                            <button type="submit" class="input-group-text bg-primary text-white" id="basic-addon2"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="table-responsive p-1">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>عنوان ویژگی</th>
                            <th>
                                <i class=" mdi mdi-settings"></i>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @if (!Model.Any())
                        {
                            <tr>
                                <td colspan="4">
                                    <p class="text-danger text-center">ویژگی  برای نمایش وجود ندارد. ابتدا یک ویژگی ثبت کنید!</p>
                                </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var attr in Model)
                            {
                                <tr>
                                    <td>کد :@attr.Id</td>
                                    <td>

                                        <p data-toggle="tooltip" data-placement="top" title data-original-title="@attr.AttributeTitle">
                                            @attr.AttributeTitle
                                        </p>
                                    </td>
                                    <td>
                                        <div class="btn-group-sm">
                                            <button onclick="ShowModalEditCategoryAttr('@attr.Id','@attr.AttributeTitle','@attr.ChildCategoryId')" class="btn btn-primary"><i class="fa fa-edit"></i> ویرایش</button>
                                            <button onclick="DeleteAttr('@attr.Id','@attr.AttributeTitle')" class="btn btn-danger"><i class="fa fa-trash"></i> حذف</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <link rel="stylesheet" href="~/admin/dist/Sweetalert2/sweetalert2.min.css" />
    <script src="~/admin/dist/Sweetalert2/sweetalert2.min.js"></script>

    <script>
        function DeleteAttr(childId, title) {
            swal.fire({
                title: 'حذف  ویژگی با عنوان ' + ' ( ' + title + ' )',
                text: "کاربر گرامی  مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {

                    var postData = {
                        'id': childId
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "/Admin/CategoryAttribute/RemoveCategoryAttr/",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            } else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            });
        }
        function ShowModalEditCategoryAttr(Id, Title, catId) {

            $('#edit_attr_id').val(Id);
            $('#edit_attr_title').val(Title);
            $('#edit_attr_catId').val(catId);
            $('#header_attr_title').html(Title);
            $('#EditAttr').modal('show');
        }

    </script>
}
    @section Modals
    {
    <div class="modal" id="EditAttr" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h5 class="modal-title text-white">ویرایش ویژگی &nbsp;<i class="badge bg-primary" id="header_attr_title"></i></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/Admin/CategoryAttribute/EditCategoryAttribute" enctype=multipart/form-data>
                        <input type="hidden" name="Id" id="edit_attr_id" />
                        <input type="hidden" name="ChildCategoryId" id="edit_attr_catId" />
                    
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-light" id="basic-addon1">عنوان ویژگی</span>
                            <input id="edit_attr_title" name="AttributeTitle" type="text" class="form-control" aria-label="Parent Category Title" aria-describedby="basic-addon1">
                        </div>

                        <div class="row justify-content-around">
                            <button type="submit" class="btn btn-primary "><i class="fa fa-edit"></i>&nbsp;بروزرسانی </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-arrow-left"></i>&nbsp;برگشت</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

  
    }
